{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": "off",
    "react/jsx-filename-extension": "off",
    "no-restricted-syntax": "off",
    "no-plusplus": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/development.js"
      }
    }
  },
  "env": {
    "browser": true,
    "mocha": true
  }
}
